* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ececec;
}

.logo {
  width: 3rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

.iframe_div {
    width: 70%;
    height: 40rem;
    margin: 3rem auto;
}

iframe {
    width: 80%;
    height: 30rem;
    margin-top: 3rem;
    margin-left: 6rem;
}

/* footer */

.footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
    bottom: 0;
    width: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__content .left__content {
    flex: 1;
    text-align: left;
    color: white;
}

.footer__content .right__content {
    flex: 1;
    text-align: right;
}

.footer__content .right__content .github-link svg {
    width: 24px;
    height: 24px;
    fill: white;
    stroke: white;
    margin-right: 5px;
}

a {
    margin-left: 20px;
}
